NODE_ENV="development"
PORT=8000
DATABASE_URL=<PROVIDE_YOURS>
APP_URL=<PROVIDE_YOURS>
BCRYPT_SALT_ROUNDS=<PROVIDE_YOURS>
JWT_ACCESS_SECRET=<PROVIDE_YOURS>
JWT_REFRESH_SECRET=<PROVIDE_YOURS>
JWT_ACCESS_EXPIRES_IN=<PROVIDE_YOURS>
JWT_REFRESH_EXPIRES_IN=<PROVIDE_YOURS>

STORE_ID=testbox
STORE_PASS=qwerty
SUCCESS_URL=http://localhost:3000/success.php
FAIL_URL=http://localhost:3000/fail.php
CANCEL_URL=http://localhost:3000/cancel.php
SSL_PAYMENT_API=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
SSL_VALIDATIOIN_API=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php